<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Redirecting</title>
  <noscript>
    <meta http-equiv="refresh" content="1; url=../../../development/components/images/" />
  </noscript>
  <script>
    window.location.replace(
      "../../../development/components/images/" + window.location.search + window.location.hash
    );
  </script>
</head>
<body>
  Redirecting to <a href="../../../development/components/images/">../../../development/components/images/</a>...
</body>
</html>
